
<nav class="navbar navbar-light bg-light card-header">
  <span>
      <img src="http://localhost:3000/icons/LogoCompany2"><br>
      <img src="http://localhost:3000/icons/LogoCompany"><br>
  </span>
  <span style="font-size: 10px">
  <span style="font-weight: bold">Контакты компании Согласие для клиентов: 8-800-755-00-01</span><br>
  Для пользователей B2B: при возникновении любых проблем<br>
  с использованием системы B2B вы можете обратиться<br>
  по тел. 8-800-775-37-37 или +7 (495) 739-01-01 (доб. 9910)<br>
  </span>
</nav>

