<!-- <a routerLink="/main">
  To Main from autocontract
</a>


<router-outlet></router-outlet> -->


<!-- <header-webcomp *axLazyElement="linkHeader"></header-webcomp> -->
<nav class="navbar" style="width: 100%">
    <div>

            <img [src]="LogoCompanyIcon">

            <img [src]="LogoCompany2Icon">

    </div>
    <div>
        <img src="connected2">
        <span class="pr-3">Клейнман</span>
        <img src="HelpIcon24">
        <img src="PasswordIcon">
        <img src="SettingsIcon">
        <img src="SupportIcon">
    </div>
</nav>
<div class="p-3">
    <div class="row">
        
        
        <div class="col-2">
            <div class="row">
                <div style="width: 100%;height: 40vh;">
                    <div class="row ml-3">
                        <div class="col-"><img [src]="BackIcon32"></div>
                        <div class="col"><h4><a href="">Назад</a></h4></div>
                    </div>
                    <div class="row ml-3">
                        <div class="col-"><img [src]="PolicyIcon32"></div>
                        <div class="col"><h4 style="font-weight: bold"><a href="">Договор</a></h4></div>
                    </div>
                    <div class="row ml-3">
                        <div class="col-"><img [src]="PrintIcon32"></div>
                        <div class="col"><h4><a href="">Печать</a></h4></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- <footer-webcomp *axLazyElement="linkFooter"></footer-webcomp> -->
                <span class="card-text" style="font-size: 13px;">
                    ООО "Страховая Компания "Согласие"".<br>
                    Лицензия ЦБ РФ от 25.05.2015 СИ № 1307, СЛ №1307, ОС №1307-03, ОС №1307-04, ОС №1307-05<br>
                    <a href="http://www.soglasie.ru">http://www.soglasie.ru</a>
                </span>
            </div>
        </div>

        <div class="col pl-5 pr-5">

            <div class="row">
                <div class="col- pr-2">
                    <img [src]="CarIcon">
                </div>
                <div class="col-3">
                    <div class="row"><h4>Новый договор</h4></div>
                    <div class="row">КАСКО ФЛ. Предварительный</div>
                    <div class="row">Не сохранен</div>
                </div>
                <div class="col- pr-2">
                    <button type="button" class="btn btn-sm" style="background-color: rgba(0,0,0,.03)">сохранить</button>
                </div>
            </div>

            <div class="row mt-4">
                <div class="card" style="width: 100%; border: 1px solid  #f5822c !important">
                    <div class="card-header" style="color:#f5822c !important; border-bottom: 1px solid #f5822c !important; font-weight:bold">Основные договоры</div>
                    <div class="card-body">
                        <a href="#" class="btn" style="border: 1px solid #f5822c !important;color:#f5822c !important;">Основные договоры</a>
                        <a href="#" class="btn ml-3" style="border: 1px solid #f5822c !important;color:#f5822c !important;">Квартиры Экспресс</a>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="card" style="width: 100%; border: 1px solid  #f5822c !important">
                    <div class="card-header" style="color:#f5822c !important; border-bottom: 1px solid #f5822c !important; font-weight:bold">Основные данные договора</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <span>Номер договора</span><br>
                                <input type="text" class="form-control" aria-describedby="addon-wrapping"><br>
                                <span>Дата и время начала действия</span><br>
                                <input type="text" class="form-control" aria-describedby="addon-wrapping"> 
                            </div>
                            <div class="col-4">
                                <span>Дата заключения</span><br>
                                <input type="text" readonly  class="form-control" aria-describedby="addon-wrapping" value=""><br>
                                <span>Срок действия</span><br>
                                <input type="text" class="form-control" aria-describedby="addon-wrapping">
                            </div>
                            <div class="col-4">
                                <span>Дата окончания действия</span><br>
                                <input type="text" class="form-control" readonly aria-describedby="addon-wrapping" value="02.10.2020"><br>
                                <span>Акция</span><br>
                                <select class="custom-select" id="inputGroupSelect01">
                                        <option selected>Нет акции</option>
                                        <option value="1">ПЕРЕХОД</option>
                                        <option value="2">Формула согласия Расширенная</option>
                                        <option value="3">"Большая семья" для сотрудников Росбанка</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="card" style="width: 100%; border: 1px solid  #f5822c !important">
                    <div class="card-header" style="color:#f5822c !important; border-bottom: 1px solid #f5822c !important; font-weight:bold">Страхователь</div>
                    <div class="card-body">
                        <div class="box-card" #card>
                            <el-button (click)="card.toggle2 = true" style="background-color: #f5822c; color: white">+ Найти/Добавить</el-button>
                            <modal-webcomp *axLazyElement="linkModal" ></modal-webcomp>
                            <!-- <el-dialog [title]="'Поиск лица'" [(visible)]="card.toggle2">
                                <span>
                                    <el-button style="background-color: #f5822c; color: white" class="mb-3">Физическое лицо</el-button>
                                    <div class="row">
                                        <div class="col">
                                            <span>Фамилия (кириллицей)</span><br>
                                            <input type="text" [(ngModel)]="user.Surname" class="form-control" aria-describedby="addon-wrapping"><br>
                                            <span>Отчество (кириллицей)</span><br>
                                            <input type="text" [(ngModel)]="user.Patronymic" class="form-control" aria-describedby="addon-wrapping"><br>
                                            <span>ИНН (для Индивидуальных Предпринимателей)</span><br>
                                            <input type="text" class="form-control" aria-describedby="addon-wrapping">
                                        </div>
                                        <div class="col">
                                            <span>Имя (кириллицей)</span><br>
                                            <input type="text" [(ngModel)]="user.Name" class="form-control" aria-describedby="addon-wrapping"><br>
                                            <span>Дата рождения</span><br>
                                            <input type="text" class="form-control" aria-describedby="addon-wrapping"><br>
                                        </div>
                                    </div>
                                    <div class="card mt-4">
                                        <div class="card-header">Результат поиска</div>
                                        <div class="card-body">
                                            <input (click)="card.toggle2 = false; changeBtn()" [ngStyle]="{visibility: invisibleInp}" [(ngModel)]="Result" type="text" readonly class="form-control" aria-describedby="addon-wrapping"><br>
                                        </div>
                                    </div>
                                </span>

                                <ng-template #footer>
                                    <button class="el-button" [ngStyle]="{visibility: invisibleBtn}" style="background-color: #f5822c; color: white">Создать</button>
                                    <el-button (click)="search(user)" style="background-color: #f5822c; color: white">Найти</el-button>
                                    <el-button (click)="card.toggle2 = false">Отменить</el-button>
                                </ng-template>
                            </el-dialog> -->
                            <!-- <el-dialog  [title]="'Поиск лица'" [lock-scroll]="false" [(visible)]="card.toggle2">
                                <div class="row">
                                    <div class="col">
                                        <span>Фамилия</span><br>
                                        <input type="text" [(ngModel)]="user.Surname" class="form-control" aria-describedby="addon-wrapping"><br>
                                        <span>Дата рождения</span><br>
                                        <input type="text" readonly class="form-control" aria-describedby="addon-wrapping"><br>
                                        <span>Контактное лицо</span><br>
                                        <input type="text" readonly class="form-control" aria-describedby="addon-wrapping"><br>
                                    </div>
                                    <div class="col">
                                        <span>Имя (кириллицей)</span><br>
                                        <input type="text" [(ngModel)]="user.Name" class="form-control" aria-describedby="addon-wrapping"><br>                                            </div>
                                    <div class="col">
                                        <span>Отчество</span><br>
                                        <input type="text" [(ngModel)]="user.Patronymic" class="form-control" aria-describedby="addon-wrapping"><br>    
                                    </div>
                                    <div class="col">
                                        <span>Пол</span><br>
                                        <input type="text" readonly class="form-control" aria-describedby="addon-wrapping"><br>
                                        <span>ИНН</span><br>
                                        <input type="text" readonly class="form-control" aria-describedby="addon-wrapping">
                                    </div>
                                </div>
                                <span>Примечание</span><br>
                                <input type="text" readonly class="form-control" aria-describedby="addon-wrapping"><br>
                                <nav class="navbar navbar-light bg-light" style="border: 1px solid #aaa">
                                    <span class="navbar-brand mb-0 h1">Контакты (0)</span>
                                    <el-button style="background-color: #f5822c; color: white">+ Добавить</el-button>
                                </nav><br>
                                <nav class="navbar navbar-light bg-light" style="border: 1px solid #aaa">
                                    <span class="navbar-brand mb-0 h1">Адреса</span>
                                    <el-button style="background-color: #f5822c; color: white">+ Добавить</el-button>
                                </nav><br>
                                <nav class="navbar navbar-light bg-light" style="border: 1px solid #aaa">
                                    <span class="navbar-brand mb-0 h1">Документы</span>
                                    <el-button style="background-color: #f5822c; color: white">+ Добавить</el-button>
                                </nav>

                                <ng-template #footer>
                                    <el-button (click)="register(user)" style="background-color: #f5822c; color: white">сохранить</el-button>
                                    <el-button (click)="card.toggle2 = false">Отменить</el-button>
                                </ng-template>
                            </el-dialog> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="card" style="width: 100%; border: 1px solid  #f5822c !important">
                    <div class="card-header" style="color:#f5822c !important; border-bottom: 1px solid #f5822c !important; font-weight:bold">Транспортное средство</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <span>Марка ТС</span><br>
                                <input type="text" class="form-control" aria-describedby="addon-wrapping"><br>
                                <span>Дата начала эксплуатации</span><br>
                                <input type="text" class="form-control" aria-describedby="addon-wrapping"><br>
                            </div>
                            <div class="col-4">
                                <span>Год выпуска</span><br>
                                <input type="text" class="form-control" aria-describedby="addon-wrapping" value=""><br>
                                <span>Стоимость ТС (RUR)</span><br>
                                <input type="text" class="form-control" aria-describedby="addon-wrapping"><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="card" style="width: 100%; border: 1px solid  #f5822c !important">
                    <div class="card-header" style="color:#f5822c !important; border-bottom: 1px solid #f5822c !important; font-weight:bold">Райдеры</div>
                    <div class="card-body">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck1">
                            <label class="form-check-label" for="gridCheck1">
                                Квартира Экспресс
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>