<nav class="navbar" style="width: 100%">
  <div>

      <img src="http://localhost:3000/icons/LogoCompany">  
      <img src="http://localhost:3000/icons/LogoCompany2">  

  </div>
  <div>
      <img src="http://localhost:3000/icons/connected2">
      <span class="pr-3">Пользователь</span>
      <img src="http://localhost:3000/icons/Help24">
      <img src="http://localhost:3000/icons/Password24">
      <img src="http://localhost:3000/icons/Settings24">
      <img src="http://localhost:3000/icons/Support24">
      <img src="http://localhost:3000/icons/exit" (click)="SendDataToAutoContractForExit(true)">
  </div>
</nav>