<div class="row mt-4">
    <div class="card" style="width: 100%; border: 1px solid  #f5822c !important">
        <div class="card-header" style="color:#f5822c !important; border-bottom: 1px solid #f5822c !important; font-weight:bold">Райдер: Квартира Экспресс</div>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <span>Номер Договора</span><br>
                    <input type="text" class="form-control" aria-describedby="addon-wrapping"><br>
                    <span>Количество комнат</span><br>
                    <input type="text" class="form-control" aria-describedby="addon-wrapping"><br>
                </div>
                <div class="col-4">
                    <span>Общая площадь</span><br>
                    <input type="text" class="form-control" aria-describedby="addon-wrapping" value=""><br>
                    <span>Коэффициент андеррайтера (от 1 до 3)</span><br>
                    <input readonly type="text" class="form-control" aria-describedby="addon-wrapping"><br>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="card" style="width: 100%; border: 1px solid  #f5822c !important">
        <div class="card-header" style="color:#f5822c !important; border-bottom: 1px solid #f5822c !important; font-weight:bold">Объекты страхования</div>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <input readonly type="text" value="Список застрахованных объектов (0)" class="form-control" aria-describedby="addon-wrapping"><br>
                </div>
            </div>
        </div>
    </div>
</div>