<router-outlet></router-outlet>
<div class="card">
  <!-- START - ПОДКЛЮЧЕНИЕ ВЕБ-КОМПОНЕНТА -->
    <header-auth *axLazyElement="links.linkHeader"></header-auth>
  <!--  END  - ПОДКЛЮЧЕНИЕ ВЕБ-КОМПОНЕНТА -->

  <!-- START - КОМПОНЕНТ ФОРМА АВТОРИЗАИИ -->
  <auth-form-for-auth></auth-form-for-auth>
  <!--  END  - КОМПОНЕНТ ФОРМА АВТОРИЗАИИ -->
  
  <!-- START - ПОДКЛЮЧЕНИЕ ВЕБ-КОМПОНЕНТА -->
    <footer-auth *axLazyElement="links.linkFooter"></footer-auth>
  <!--  END  - ПОДКЛЮЧЕНИЕ ВЕБ-КОМПОНЕНТА -->

<div>