<div nz-row>
  <div nz-col >
    <button nz-button nzType="default" (click)="showModal()" [ngStyle]="{display: visibilityMainBtn}" style="background-color: #f5822c; color: white">
      <span>+ Найти/Добавить</span>
    </button>
  </div>
  <div [ngStyle]="{display: visibilityMainBtnSnd1}" nz-col  nzSpan="2">
    <input nz-button nzType="default" [(ngModel)]="Result" style="width: 100%; border: 1px solid #ccc; cursor: default">
  </div>
  <div [ngStyle]="{display: visibilityMainBtnSnd2}" nz-col nzSpan="2">
    <input nz-button nzType="default"  [disabled]="true"  [(ngModel)]="ResultRegister" style=" width: 100%; border: 1px solid #ccc; cursor: default">
  </div>
  <div nz-col  nzSpan="1">
    <button [ngStyle]="{display: visibilityMainBtnSnd3}" style="cursor: default; margin: 0 0 0 20px; background-color: #f5822c; color: white" nz-button nzType="default" (click)="changeBtnInvers()" >Удалить</button>
  </div>
  <div nz-col  nzSpan="1">
    <button [ngStyle]="{display: visibilityMainBtnSnd3}" style="cursor: default; margin: 0 0 0 30px; background-color: #f5822c; color: white" nz-button nzType="default" (click)="showModal2()" >Создать</button>
  </div>
</div>
<nz-modal
        [(nzVisible)]="isVisible"
        [nzTitle]="modalTitle"
        [nzContent]="modalContent"
        [nzFooter]="modalFooter"
        (nzOnCancel)="handleCancel()"
        nzWidth="60%"
      >
        <ng-template #modalTitle>
          Поиск лица
        </ng-template>
  
        <ng-template #modalContent>
            <button style="cursor: default; margin: 0 0 30px 10px; background-color: #f5822c; color: white" nz-button nzType="default" >Физическое лицо</button>
            <div nz-row  >
            <div nz-col style="padding: 10px;" nzSpan="12">
                <span>Фамилия (кириллицей)</span><br>
                <input nz-input nzSize="large" [(ngModel)]="user.Surname" />
                <br />
                <br />
                <span>Отчество (клицей)</span><br>
                <input nz-input nzSize="large" [(ngModel)]="user.Patronymic" />
                <br />
                <br />
                <span>ИНН (для Индивидуальных Предпринимателей)</span><br>
                <input nz-input nzSize="large" [disabled]="true" />
            </div>
            <div nz-col style="padding: 10px;" nzSpan="12">
                <span>Имя (кириллицей)</span><br>
                <input nz-input nzSize="large" [(ngModel)]="user.Name" />
                <br />
                <br />
                <span>Дата рождения</span><br>
                <input nz-input nzSize="large" [disabled]="true"/> 
            </div>
          </div>
          <div nz-row style="margin-top:30px">
              <div nz-col style="padding: 10px;">
                    <nz-card nzType="inner" nzTitle="Результат поиска" >
                      <div (click)="changeBtn(); handleCancel()">
                        <input style="cursor: pointer;" [(ngModel)]="Result" [ngStyle]="{visibility: invisibleInp}" nz-input nzSize="large" [(ngModel)]="Result" /> 
                      </div>
                    </nz-card>
              </div>
          </div>
            

        </ng-template>
  
        <ng-template #modalFooter>
          <button nz-button nzType="default" (click)="changeBtn(); showModal2()" [ngStyle]="{visibility: invisibleBtn}" style="background-color: #f5822c; color: white"><span>Создать</span></button>
          <button nz-button nzType="default" (click)="search(user)" style="background-color: #f5822c; color: white">Найти</button>
          <button nz-button nzType="default" (click)="handleCancel()" >Отменить</button>
        </ng-template>
      </nz-modal>
      
    <nz-modal
    [(nzVisible)]="isVisible2"
    [nzTitle]="modalTitle2"
    [nzContent]="modalContent2"
    [nzFooter]="modalFooter2"
    (nzOnCancel)="handleCancel2()"
    nzWidth="60%"
    >

      <ng-template #modalTitle2>
        Создание физ. лица
      </ng-template>

      <ng-template #modalContent2>
        <button style="cursor: default; margin: 0 0 30px 10px; background-color: #f5822c; color: white" nz-button nzType="default" >Физическое лицо</button>
        <div nz-row >
          <div nz-col style="padding: 10px;" nzSpan="6">
              <span>Фамилия</span><br>
              <input nz-input nzSize="large" [(ngModel)]="user.Surname" />
              <br />
              <br />
              <span>Дата рождения</span><br>
              <input nz-input nzSize="large" [disabled]="true" />
              <br />
              <br />
              <span>Контактное лицо</span><br>
              <input nz-input nzSize="large" [disabled]="true" />
          </div>
          <div nz-col style="padding: 10px;" nzSpan="6">
              <span>Имя (кириллицей)</span><br>
              <input nz-input nzSize="large" [(ngModel)]="user.Name" />
          </div>
          <div nz-col style="padding: 10px;" nzSpan="6">
              <span>Отчество</span><br>
              <input nz-input nzSize="large" [(ngModel)]="user.Patronymic" />
          </div>
          <div nz-col style="padding: 10px;" nzSpan="6">
              <span>Пол</span><br>
              <input nz-input nzSize="large" [disabled]="true" />
              <br />
              <br />
              <span>ИНН</span><br>
              <input nz-input nzSize="large" [disabled]="true" /> 
          </div>
        </div>





        <div nz-row style="margin-top:30px; padding: 10px;">
            <span>Примечание</span><br>
            <input nz-input nzSize="large" [disabled]="true" /> 
        </div>
        <br />
        <div nz-row style="margin-top:30px">
            <div nz-col style="padding: 10px;">
                  <nz-card nzType="inner" nzTitle="Контакты (0)" >
                    <button style="cursor: default; background-color: #f5822c; color: white" nz-button nzType="default" >+ Добавить</button>
                  </nz-card>
            </div>
        </div>
        <br />
        <div nz-row style="margin-top:30px">
            <div nz-col style="padding: 10px;">
                  <nz-card nzType="inner" nzTitle="Адреса" >
                    <button style="cursor: default; background-color: #f5822c; color: white" nz-button nzType="default" >+ Добавить</button>
                  </nz-card>
            </div>
        </div>
        <br />
        <div nz-row style="margin-top:30px">
            <div nz-col style="padding: 10px;">
                  <nz-card nzType="inner" nzTitle="Документы" >
                    <button style="cursor: default; background-color: #f5822c; color: white" nz-button nzType="default" >+ Добавить</button>
                  </nz-card>
            </div>
        </div>
          

      </ng-template>

      <ng-template #modalFooter2>
        <!-- <button nz-button nzType="default" (click)="showModal2()" style="background-color: #f5822c; color: white"> -->
        <button nz-button nzType="default" (click)="register(user); handleCancel2(); changeInp()" style="background-color: #f5822c; color: white">Сохранить</button>
        <button nz-button nzType="default" (click)="handleCancel2()" >Отменить</button>
      </ng-template>
    </nz-modal>
