<div class="row">
    <div class="col- pr-2">
            <!-- ПОДКЛЮЧЕНИЕ ИЗОБРАЖЕНИЙ ЧЕРЕЗ "DATA URI" -->
            <img title="contracts" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAHlBMVEUAAADpp3TpqnrorYDns4zosIbmtpLluZflvJ71giwppki4AAAAAXRSTlMAQObYZgAAAIdJREFUKM+9kDEOwkAMBFdIQecn0PENnkCXJ/ANumvTGYFE5rcpzCUOTVJlK99oZN1a2hvzPwD54TLwFYCs4MbrkhQcrqekAG/ptihAL3WLAh9Jus8KPCTp3BTjG8Pzp0ANUEIxxrZswCWlTxto1cKIFhkgGzMYXKVmUGq0n0E7xxEgZSfYyATftViUw905hAAAAABJRU5ErkJggg==" >
            <!-- ПОДКЛЮЧЕНИЕ ИЗОБРАЖЕНИЙ ЧЕРЕЗ "DATA URI" -->
        </div>
    <div class="col-2">
        <div class="row"><h4>Договоры</h4></div>
        <div class="row">Работа с портфелем договоров</div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-3">
        <div class="row mb-5">
            <div class="col- pr-3">
                <img [src]="links.PoliciesIcon64" >
            </div>
            <div class="col">
                <div class="row">
                    <h4>
                        <a href="">Договоры</a>
                        <img class="pl-2" [src]="links.HelpIcon16">
                    </h4>
                </div>
                <div class="row">
                    <div>
                        <h6><a routerLink="/contracts">Найти свой договор</a></h6>
                        <h6>Оформить договор:</h6>
                        <h6 class="ml-4"><a routerLink="/auto/contract">Каско ФЛ v2</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>