<router-outlet></router-outlet>
<div class="row">
    <!-- START - ПОДКЛЮЧЕНИЕ ВЕБ-КОМПОНЕНТА -->
    <header-contracts   style="width: 98%" (DataToMainForExit)="DataToMainForExit($event)" *axLazyElement="links.linkHeader"></header-contracts>
    <!--  END  - ПОДКЛЮЧЕНИЕ ВЕБ-КОМПОНЕНТА -->
</div>
<div class="p-3">
  <div class="row">

    <!-- START - КОМПОНЕНТ СПИСОК СЕРВИСОВ (ЛЕВОЕ МЕНЮ) -->
    <div class="col-2">
        <contracts-list-of-services></contracts-list-of-services>
    </div>
    <!--  END  - КОМПОНЕНТ СПИСОК СЕРВИСОВ (ЛЕВОЕ МЕНЮ) -->

    <!-- START - КОМПОНЕНТ ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ -->
    <div class="col pl-5 pr-5">
        <contracts-main-content></contracts-main-content>
    </div>
    <!--  END  - КОМПОНЕНТ ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ -->

  </div>
</div>