<main-primary-nav></main-primary-nav>
<router-outlet></router-outlet>
    <div class="row">
        <header-main style="width: 98%" *axLazyElement="linkHeader"></header-main>
        <img width="24" style="margin: 46px 0 0 -12px" height="24" src="http://localhost:3000/icons/exit" (click)="Exit()">
    </div>
<div class="p-3">
<div class="row">
    <div class="col-2">
        <div class="row">
            <div style="width: 100%;height: 40vh; overflow-x:hidden; overflow-y:scroll; ">
                <div class="row ml-3">
                    <div class="col-"><img [src]="HomeIcon"></div>
                    <div class="col"><h4 style="font-weight: bold"><a href="">Главная</a></h4></div>
                </div>
                <div class="row ml-3">
                    <div class="col-"><img [src]="CalcIcon32"></div>
                    <div class="col"><h4><a href="">Калькулятор</a></h4></div>
                </div>
                <div class="row ml-3">
                    <div class="col-"><img [src]="PoliciesIcon32"></div>
                    <div class="col"><h4><a href="">Договоры</a></h4></div>
                </div>
                <div class="row ml-3">
                    <div class="col-"><img [src]="ClientsIcon"></div>
                    <div class="col"><h4><a href="">Клиенты</a></h4></div>
                </div>
                <div class="row ml-3">
                    <div class="col-"><img [src]="PoliciesSupportIcon32"></div>
                    <div class="col"><h4><a href="">Сервисы</a></h4></div>
                </div>
                <div class="row ml-3">
                    <div class="col-"><img [src]="PoliciesSupportIcon32"></div>
                    <div class="col"><h4><a href="">Сервисы v2</a></h4></div>
                </div>
                <div class="row ml-3">
                    <div class="col-"><img [src]="PaymentsIcon32"></div>
                    <div class="col"><h4><a href="">Платежи</a></h4></div>
                </div>
                <div class="row ml-3">
                    <div class="col-"><img [src]="AgentsRegistryIcon32"></div>
                    <div class="col"><h4><a href="">Журнал</a></h4></div>
                </div>
                <div class="row ml-3">
                    <div class="col-"><img [src]="bsoIcon32"></div>
                    <div class="col"><h4><a href="">БСО</a></h4></div>
                </div>
                <div class="row ml-3">
                    <div class="col-"><img [src]="TaskIcon32"></div>
                    <div class="col"><h4><a href="">Задачи</a></h4></div>
                </div>
            </div>
        </div>
        <div class="row">
            <footer-main *axLazyElement="linkFooter"></footer-main>
        </div>
    </div>
    
    <div class="col pl-5">
        <div class="row">
            <div class="col- pr-2">
                <img [src]="HomeIcon">
            </div>
            <div class="col-2">
                <div class="row"><h4>Договоры</h4></div>
                <div class="row">Работа с портфелем договоров</div>
            </div>
        </div>
        <div class="row mt-4">
            <!-- третья колонка в конце -->
            <div class="col-3">
                <div class="row mb-5">
                    <div class="col- pr-3">
                        <img [src]="PoliciesIcon64" >
                    </div>
                    <div class="col">
                        <div class="row">
                            <h4>
                                <a href="">Договоры</a>
                                <img class="pl-2" [src]="HelpIcon16">
                            </h4>
                        </div>
                        <div class="row">
                            <div>
                                <h6><a routerLink="/contracts">Найти свой договор</a></h6>
                                <h6>Оформить договор:</h6>
                                <h6 class="ml-4"><a routerLink="/auto/contract">Каско ФЛ v2</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>