<nav class="navbar" style="width: 100%">
  <div>
      <div class="col">
        <img src="http://localhost:3000/icons/Logo">            
      </div>
      <div class="col">
        <img src="http://localhost:3000/icons/LogoCompany">            
      </div>
      <div class="col">
        <img src="http://localhost:3000/icons/LogoCompany2">            
      </div>
  </div>
  <div>
    <img src="http://localhost:3000/icons/connected2">
    <span class="pr-3">Пользователь</span>
    <img src="http://localhost:3000/icons/Help24">
    <img src="http://localhost:3000/icons/Password24">
    <img src="http://localhost:3000/icons/Settings24">
    <img src="http://localhost:3000/icons/Support24">
  </div>
</nav>