<nav class="navbar" style="width: 100%">
  <div>
      <div class="col">
          <img src="LogoIcon">
      </div>
      <div class="col">
          <img src="LogoCompanyIcon">
      </div>
      <div class="col">
          <img src="LogoCompany2Icon">
      </div>
  </div>
  <div>
      <img src="connected2">
      <span class="pr-3">Клейнман</span>
      <img src="HelpIcon24">
      <img src="PasswordIcon">
      <img src="SettingsIcon">
      <img src="SupportIcon">
      <!-- <button class="btn" (click)="Exit()">выход</button> -->
  </div>
</nav>